@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese');
html,
body {
  font-family: 'Noto Sans JP', sans-serif;
}
input,
select,
textarea {
  font-family: 'Noto Sans JP', sans-serif;
}
#main-wrap {
  width: 1200px;
}
.col-2.right .main {
  width: 920px;
}
.jobs ul li {
  width: 274px;
}
header div#brand {
  width: 1200px;
}
#search-detail.col-2.right .main {
    width: 1200px;
}
